<!--

    Copyright 2013-2018 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="dlg-tool-bar">
	<div class="row">
		<div class="col-sm-12">
			<ul id="authTabs" class="nav nav-pills" style="margin-bottom:2px;">
				<li id="tabAuth" class="active"><a><i class="icon-lock"></i> <span class="bundle">Authorisation</span></a></li>
				<li id="tabAuthData"><a><i class="icon-filter"></i> <span class="bundle">Data</span></a></li>
				<li id="tabAddDataBundle" style="display:none;margin-left: 50px;">
					<div class="btn-group">
						<button style="margin:0px;padding:4px;" disabled class="btn btn-default dropdown-toggle editable" data-toggle="dropdown"><i class="icon-plus"></i> <span class="bundle">Add data bundle</span> <span class="caret"></span></button>
						<ul class="dropdown-menu dropdown-menu-right">
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="dlg-content">
	<div id="authPanel">
		<div class="row">
			<div class="form col-sm-6">
				<div class="form-group">
					<label class="control-label bundle" for="whoTypeSB">Authorise</label>
					<select disabled id="whoTypeSB" class="form-control editable"></input></select>
				</div>
				<div class="form-group">
					<input disabled class="form-control editable" placeholder="User lookup"
						type="text" id="userFilter" value="" style="display:none;">
					<select disabled class="form-control editable" id="groupSB"></select>
				</div>
			</div>
			<div class="form col-sm-6">
				<div class="form-group">
					<label class="control-label bolder bundle" for="whatTypeSB">On</label>
					<select disabled class="form-control editable" id="whatTypeSB"></select>
				</div>
				<div class="form-group" id="sysTD" style="display:none;">
					<label class="control-label bundle" for="sysSB">System</label>
					<select disabled class="form-control editable" id="sysSB"></select>
				</div>
				<div class="form-group">
					<select disabled class="form-control editable" id="whatSB"></select>
				</div>
				<div id="modeBlock" class="form-group">
					<label class="control-label bundle">Access mode</label>
					<select disabled class="form-control editable" id="modeSB"></select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form col-sm-3">
				<div class="form-group">
					<label class="control-label bundle" for="startDate">Start date</label>
					<div class="input-group startDateGroup">
						<input disabled class="form-control date editable" id="startDate" value="" type="text">
						<div class="input-group-addon">
							<label class="control-label" for="startDate"><i class="fa fa-calendar"></i></label>
						</div>
					</div>
				</div>
			</div>
			<div class="form col-sm-3">
				<div class="form-group">
					<label class="control-label bundle" for="endDate">End date</label>
					<div class="input-group endDateGroup">
						<input disabled class="form-control date editable" id="endDate" value="" type="text">
						<div class="input-group-addon">
							<label class="control-label" for="endDate"><i class="fa fa-calendar"></i></label>
						</div>
					</div>
				</div>
			</div>
			<div class="form col-sm-3">
			</div>
			<div class="form col-sm-3">
			</div>
		</div>
	</div>
	<div id="authDataPanes" style="display:none;">
		<div class="row">
			<div class="col-sm-12">
				<ul id="dataTabs" class="nav nav-tabs">
				</ul>
			
				<div id="templateDataPane" style="display:none;">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="dlg-button-bar align-right">
	<a class="label label-default pull-left" id="modifyLink" style="display:none;"><i class="fa fa-pencil"></i> <span class="bundle">Modify</span></a>

	<button type="button" class="btn btn-default cancel" id="cancelBtn" style="display:none;"><i class="fa fa-remove"></i> <span class="bundle">Cancel</span></button>
	<button type="button" class="btn btn-default save" id="saveBtn" style="display:none;"><i class="fa fa-save"></i> <span class="bundle">Save</span></button>
	<button type="button" class="btn btn-default cancel" id="closeBtn" style="display:none;"><i class="fa fa-remove"></i> <span class="bundle">Close</span></button>
</div>
