<!--

    Copyright 2013-2018 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div id="__sec_funcs__">

<div class="row">
	<div class="form form-inline col-sm-12">
		<div class="form-group">
			<label class="control-label bundle" for="sysSB">System</label>
			<select id="sysSB" class="form-control"></select>
		</div>
		<div class="form-group">
			<label class="control-label bundle" for="func">Function</label>
			<input id="func" class="form-control" type="text" maxlength="150"></input>
		</div>
		<div class="form-group">
			<button id="resetBtn" class="btn btn-default" type="button">
				<i class="fa fa-repeat"></i> 
				<span class="bundle">Reset</span>
			</button>
			<button id="goBtn" class="btn btn-default btn-primary" type="button">
				<i class="fa fa-check"></i> 
				<span class="bundle">GO</span>
			</button>
		</div>
	</div>
</div>

<div id="result" class="row">
	<div class="col-sm-12">
		<table id="resultTable" class="table table-striped table-hover tablesorter">
			<thead>
				<tr>
					<th>#</th>
					<th class="bundle">System</th>
					<th class="bundle">Function</th>
					<th class="bundle">Description</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
</div>
<script type="text/javascript">
App.Utils.selectNavItem("#appNavBar", "#funcsLink");

new butor.sec.func.Funcs($("#__sec_funcs__"));

try {//@ sourceURL=sec.func.html
} catch(e) {}

</script>
