<!--

    Copyright 2013-2018 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div id="__sec_groups__">
<div class="dropdown floating-nav-bar transparent" id="ctxMenu">
	<button class="menu btn btn-primary dropdown-toggle ctxMenu" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
	<ul class="dropdown-menu pull-right" group="menu">
		<li class="view"><a tabindex="-1"> <i class="fa fa-eye"></i> <span class="bundle">View</span></a></li>
		<li class="edit" style="display:none;"><a tabindex="-1"> <i class="fa fa-pencil"></i> <span class="bundle">Edit</span></a></li>
		<li class="delete" style="display:none;"><a tabindex="-1"> <i class="fa fa-trash-o text-danger"></i> <span class="bundle text-danger">Delete</span></a></li>
	</ul>
</div>

<div class="row">
	<div class="form col-sm-12 form-inline">
		<div class="form-group col-sm-2">
			<button id="addBtn" class="btn btn-default" type="button" style="display:none;">
				<i class="fa fa-plus"></i>
				<span class="bundle">Add group</span>
			</button>
		</div>
		<div class="form-group">
			<label class="control-label bundle" for="member">User</label>
			<input id="member" class="form-control" type="text"></input>
		</div>
		<div class="form-group">
			<button id="resetBtn" class="btn btn-default" type="button">
				<i class="fa fa-repeat"></i> 
				<span class="bundle">Reset</span>
			</button>
			<button id="goBtn" class="btn btn-default btn-primary" type="button">
				<i class="fa fa-check"></i> 
				<span class="bundle">GO</span>
			</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="form-group">
			<input placeholder="Filter" id="filter" class="form-control" type="text"></input>
		</div>
	</div>
</div>

<div id="result" class="row">
	<div class="col-sm-12">
		<table id="resultTable" class="table table-striped table-hover tablesorter">
			<thead>
				<tr>
					<th>#</th>
					<th class="bundle">Group</th>
					<th class="bundle">Description</th>
					<th class="bundle">Updated</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
</div>

<script type="text/javascript">
App.Utils.selectNavItem("#appNavBar", "#groupsLink");

new butor.sec.group.Groups($("#__sec_groups__"));
//# sourceURL=butor.sec.groups.html
</script>
