<!--

    Copyright 2013-2018 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="dlg-content dlg-content-no-tool-bar">
	<div class="row" id="idPane">
		<div class="col-sm-5">
			<div class="form-group">
				<label class="control-label bundle" for="roleId">ID</label>
				<input disabled id="roleId" class="form-control editable" type="text" maxlength="150"></input>
			</div>
		</div>
		<div class="col-sm-7">
			<div class="form-group">
				<label class="control-label bundle" for="description">Description</label>
				<input disabled id="description" class="form-control editable" type="text" maxlength="150"></input>
			</div>
		</div>
	</div>
	<select class="editable" id="modeSBTmpl" style="display:none;"></select>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="control-label bundle" for="roleFuncsSB">Role functions</label>
				<div class="check-list form-control" id="roleFuncsSB" style="height:200px;"></div>
			</div>
			<div class="form-group">
				<button disabled type="button" class="btn btn-default btn-xsm editable" id="removeBtn"><i class="fa fa-minus"></i> <span class="bundle">Remove selected</span></button>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="control-label bundle" for="sysSB">Available functions</label>
				<select disabled class="form-control editable" id="sysSB"></select>
			</div>
			<div class="form-group">
				<div class="check-list form-control editable" id="funcsSB" style="height:170px;"></div>
			</div>
			<div class="form-group">
				<button disabled type="button" class="btn btn-default btn-xsm editable" id="addBtn" title="Add"><i class="fa fa-plus"></i> <span class="bundle">Add selected</span></button>
			</div>
		</div>
	</div>
</div>
<div class="dlg-button-bar align-right">
	<a class="label label-default pull-left" id="modifyLink" style="display:none;"><i class="fa fa-pencil"></i> <span class="bundle">Modify</span></a>

	<button type="button" class="btn btn-default cancel" id="cancelBtn"><i class="fa fa-remove"></i> <span class="bundle">Cancel</span></button>
	<button type="button" class="btn btn-default save" id="saveBtn"><i class="fa fa-save"></i> <span class="bundle">Save</span></button>
	<button type="button" class="btn btn-default cancel" id="closeBtn" style="display:none;"><i class="fa fa-remove"></i> <span class="bundle">Close</span></button>
</div>
