<!--

    Copyright 2013-2018 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div id="__sec_servicecall__" class="container-fluid">

	<div class="page-header">
		<h1>
			<span class="bundle">Service calls</span>
		</h1>
	</div>

	<div class="row ">
		<div class="col-sm-2 col-md-3">
			<div class="form-group">
				<label class="control-label bundle" for="dateFrom">Date from</label>
				<div class="input-group dateFromGroup">
					<input class="form-control date" id="dateFrom" value="" type="text">
					<div class="input-group-addon">
						<label class="control-label" for="dateFrom"> <i
							class="fa fa-calendar"></i>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2 col-md-3">
			<div class="form-group">
				<label class="control-label bundle" for="dateTo">Date to</label>
				<div class="input-group dateToGroup">
					<input class="form-control date" id="dateTo" value="" type="text">
					<div class="input-group-addon">
						<label class="control-label" for="dateTo"> <i
							class="fa fa-calendar"></i>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2 col-md-3">
			<div class="form-group">
				<label class="control-label bundle" for="user">User</label> <input
					id="user" class="form-control" type="text" maxlength="100"></input>
			</div>
		</div>
		<div class="col-sm-2 col-md-3">
			<div class="form-group">
				<label class="control-label bundle" for="service">Session ID</label>
				<input id="sessionId" class="form-control" type="text"
					maxlength="300"></input>
			</div>
		</div>
		<div class="col-sm-2 col-md-3">
			<div class="form-group">
				<label class="control-label bundle" for="service">Service</label> <input
					id="serviceName" class="form-control" type="text" maxlength="100"></input>
			</div>
		</div>
		<div class="col-sm-4 col-md-3">
			<div class="form-group">
				<label class="control-label bundle">&nbsp;</label>
				<div>
					<button id="resetBtn" class="btn btn-default" type="button">
						<i class="fa fa-repeat"></i> <span class="bundle">Reset</span>
					</button>
					<button id="exportBtn" class="btn btn-default" type="button">
						<i class="fa fa-download"></i> <span class="bundle">Export</span>
					</button>
					<button id="goBtn" class="btn btn-default btn-primary"
						type="button">
						<i class="fa fa-check"></i> <span class="bundle">GO</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div id="result" class="row">
		<div class="col-sm-12">
			<table id="resultTable"
				class="table table-bordered table-striped table-hover tablesorter">
				<thead>
					<tr>
						<th>#</th>
						<th class="bundle">Timestamp</th>
						<th class="bundle">User</th>
						<th class="bundle">Session ID</th>
						<th class="bundle">Namespace</th>
						<th class="bundle">Service</th>
						<th class="bundle">Success</th>
						<th class="bundle">Duration (ms)</th>
						<th class="bundle">Payload</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript" src="/bsec/audit.js"></script>
<script type="text/javascript">
	App.Utils.selectNavItem("#appNavBar", "#auditLinkGroup");
	new butor.sec.audit.ServiceCall($("#__sec_servicecall__"));

	// # sourceURL=bsec.serviceCalls.html
</script>
