<!--

    Copyright 2013-2018 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="dlg-content dlg-content-no-tool-bar">
	<!--
	
	    Copyright 2013 butor.com
	
	    Licensed under the Apache License, Version 2.0 (the "License");
	    you may not use this file except in compliance with the License.
	    You may obtain a copy of the License at
	
	      http://www.apache.org/licenses/LICENSE-2.0
	
	    Unless required by applicable law or agreed to in writing, software
	    distributed under the License is distributed on an "AS IS" BASIS,
	    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	    See the License for the specific language governing permissions and
	    limitations under the License.
	
	-->
	<link href="/bsec/sec.css?t=1" rel="stylesheet"/>
	<div class="row">
		<div class="col-sm-12 form form-inline">
			<div class="form-group">
				<label class="control-label bundle" for="userFilter">User filter</label>
				<input class="form-control" type="text" id="userFilter" value="">
				
				<button type="button" class="btn btn-primary go" id="goBtn">
					<i class="fa fa-check"></i> <span class="bundle">Go</span>
				</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<table id="usersTable" class="table table-hover">
				<thead>
					<tr>
						<th><span class="bundle">#</span></th>
						<th><span class="bundle">ID</span></th>
						<th><span class="bundle">Name</span></th>
						<th><span class="bundle">Firm</span></th>
						<th><span class="bundle">active-m</span></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="dlg-button-bar align-right">
	<button type="button" class="btn btn-default cancel" id="cancelBtn">
		<i class="fa fa-remove"></i> <span class="bundle">Cancel</span>
	</button>
	<button type="button" class="btn btn-default ok" id="okBtn">
		<i class="fa fa-check"></i> <span class="bundle">OK</span>
	</button>
</div>