<!--

    Copyright 2013-2018 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div id="__sec_users__">
<div class="dropdown floating-nav-bar transparent" id="ctxMenu">
	<button class="menu btn btn-primary dropdown-toggle ctxMenu" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
	<ul class="dropdown-menu pull-right" role="menu">
		<li class="view"><a tabindex="-1"> <i class="fa fa-eye"></i> <span class="bundle">View</span></a></li>
		<li class="edit" style="display:none;"><a tabindex="-1"> <i class="fa fa-pencil"></i> <span class="bundle">Edit</span></a></li>
		<li class="add" style="display:none;"><a tabindex="-1"> <i class="fa fa-plus"></i> <span class="bundle">Add</span></a></li>
		<li class="delete" style="display:none;"><a tabindex="-1"> <i class="fa fa-trash-o text-danger"></i> <span class="bundle text-danger">Delete</span></a></li>
		<li class="groups" style="display:none;"><a tabindex="-1"> <i class="fa fa-group"></i> <span class="bundle">Groups</span></a></li>
		<li class="auths" style="display:none;"><a tabindex="-1"> <i class="fa fa-random"></i> <span class="bundle">Authorization</span></a></li>
	</ul>
</div>

<div class="row">
	<div class="form form-inline col-sm-12">
		<div class="form-group col-sm-2">
			<button id="addBtn" class="btn btn-default" type="button" style="display:none;">
				<i class="fa fa-plus"></i>
				<span class="bundle">Add user</span>
			</button>
		</div>
		<div class="form-group">
			<label class="control-label bundle" for="firmId">Firm</label>
			<select id="firmId" class="form-control" style="max-width:100%;"></select>
		</div>
		<div class="form-group">
			<label class="control-label bundle" for="displayName">User</label>
			<input id="displayName" class="form-control" type="text" maxlength="150"></input>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" id="locked"> <span class="bundle">Locked</span>
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" id="resetInProgress"> <span class="bundle">Reset in progress</span>
			</label>
		</div>
		<div class="form-group">
			<div class="form-controls">			
				<button id="resetBtn" class="btn btn-default" type="button">
					<i class="fa fa-repeat"></i> 
					<span class="bundle">Reset</span>
				</button>
				<button id="goBtn" class="btn btn-default btn-primary" type="button">
					<i class="fa fa-check"></i> 
					<span class="bundle">GO</span>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 small">
		<span class="bundle">LEGEND</span> : 
		<span class="text-muted">x</span> <span class="bundle">inactive-m</span> | 
			<i class="fa fa-check text-success"></i> <span class="bundle">active-m</span> | 
		<i class="fa fa-lock text-danger"></i> <span class="bundle">Locked</span> | 
		<i class="fa fa-key text-warning"></i> <span class="bundle">Reset in progress</span>
	</div>
</div>
<div id="result" class="row">
	<div class="col-sm-12">
		<table id="resultTable" class="table table-striped table-hover tablesorter">
			<thead>
				<tr>
					<th>#</th>
					<th class="bundle">ID</th>
					<th>&nbsp;</th>
					<th class="bundle">Email</th>
					<th class="bundle">Full name</th>
					<th class="bundle">Firm</th>
					<th class="bundle">Last login</th>
					<th class="bundle">Creation date</th>
					<th class="bundle">Updated</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
</div>

<script type="text/javascript">
App.Utils.selectNavItem("#appNavBar", "#usersLink");

new butor.sec.user.Users($("#__sec_users__"));

//# sourceURL=butor.sec.users.html
</script>
